body {
    background-image: url(fondd.avif);
    background-repeat: no-repeat;
    background-size: 2900px;
    
}


h1:hover{
  color: rgb(25, 226, 25);
  box-shadow: 0 8px 16px rgb(13, 226, 109);
  font-size: 60px;
 font-family: cursive;

}
p:hover{
  color:rgb(87, 236, 0);
   box-shadow: 0 8px 16px rgb(13, 226, 109);
  font-family: cursive;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 30px;
}

.card {
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 130px;
  height: 130px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.card:hover{
  display: block;
  text-align: center;
  background-image: url(javascript.webp);
  background-size: 250px 250px;
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(13, 226, 109);
}

.card1 {
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 130px;
  height: 130px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.card1:hover{
  display: block;
  text-align: center;
  background-image: url(htmlcss.jpg);
  background-size: 250px 250px;
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(13, 226, 109);
}


.card2{
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 130px;
  height: 130px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}


.card2:hover{
  display: block;
  text-align: center;
  background-image: url(python.jpeg);
  background-size: 250px 250px;
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(13, 226, 109);
}

.card3{
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 130px;
  height: 130px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.card3:hover{
  display: block;
  text-align: center;
  background-image: url(c+.png);
  background-size: 250px 250px;
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(13, 226, 109);
}
.card4{
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 130px;
  height: 130px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}



.card4:hover{
  display: block;
  text-align: center;
  background-image: url(php.png);
  background-size: 250px 250px;
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(13, 226, 109);
}

.card5{
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 130px;
  height: 130px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.card5:hover{
  display: block;
  text-align: center;
  background-image: url(java.png);
  background-size: 250px 250px;
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(13, 226, 109);
}







.container_portfolio {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  margin: 30px;
}


.droite{
  display: flex;
  justify-content: right;
  background-color: #2cff10; 
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(13, 226, 109);
  margin-right: 40px;
}

.texte {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

nav {
  color: rgb(211, 82, 8);
  display: flex;
  justify-content: space-around;
}


header {
  background-image: url(matrix.png);
  background-color: #2cff10; 
  box-shadow: 0 8px 16px rgb(13, 226, 109);

}

.navbar {
  margin: 20px;
  padding: 30px;
}

a:hover{
  font-size: xx-large;
  color: rgb(13, 250, 104);
  
}

.hero-section {
  display: flex;
  align-items: center;
  padding: 40px;
  gap: 100px;
}

a {
  text-decoration: none;
  color:inherit;
  font-size: 40px;
  font-family: cursive;
}

.project {
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 200px;
  height: 120px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.project:hover{
  display: block;
  text-align: center; 
  background-image: url(restaurant.jpeg);
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(185, 4, 4);
}

h2 {
  text-align: center;
  color: rgb(25, 226, 25);
  box-shadow: 0 8px 16px rgb(5, 156, 38);
  font-size: 60px;
  font-family: cursive;
}

.project1 {
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 200px;
  height: 120px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.project1:hover {
  display: block;
  text-align: center; 
  background-image: url(immobilier.jpg);
  background-size: 300px 300px;

  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(185, 4, 4);
}

.project2 {
  background-color: rgba(15, 14, 14, 0.349);
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 60px;
  width: 200px;
  height: 120px;
  color: rgb(255, 255, 255);
  transform: scale(1,1);
  box-shadow: 0 16px 16px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.project2:hover {
  display: block;
  text-align: center; 
  background-image: url(coffeeshop.jpg);
  background-size: 300px 300px;
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgb(185, 4, 4);
}
